# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PCharm\Calculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
